
.custom-navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link,
  .custom-navbar .navbar-text,
  .custom-navbar .dropdown-toggle {
    font-size: 0.9rem;
  }